<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <title>Delete book</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/navBarStyle.css">
    <link rel="stylesheet" type="text/css" href="css/booksTableStyle.css">

</head>

<body>
<div class="topnav" id="myTopnav">
    <div class="row activ">
        <div class="col-lg-3">
            <a th:href="@{/}" class="btn btn-primary btn-sm mb-3">Home</a>
        </div>
    </div>

    <div class="row active">
        <div class="col-lg-3">
            <a th:href="@{/viewBook}" class="btn btn-primary btn-sm mb-3">View Books</a>
        </div>
    </div>

    <div class="row active">
        <div class="col-lg-3">
            <a th:href="@{/addBook}" class="btn btn-primary btn-sm mb-3">Add book</a>
        </div>
    </div>

    <div class="row active">
        <div class="col-lg-3">
            <a th:href="@{/deleteBook}" class="btn btn-primary btn-sm mb-3">Delete book</a>
        </div>
    </div>

    <div class="row active">
        <div class="col-lg-3">
            <a th:href="@{/updateBook}" class="btn btn-primary btn-sm mb-3">Update book</a>
        </div>
    </div>

    <div class="row active">
        <div class="col-lg-3">
            <a th:href="@{/searchBook}" class="btn btn-primary btn-sm mb-3">Search book</a>
        </div>
    </div>

    <div class="row active">
        <div class="col-lg-3">
            <a th:href="@{/sortBooks}" class="btn btn-primary btn-sm mb-3">Sort books</a>
        </div>
    </div>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<div>
    <table id="bookTable">
        <thead>
        <tr>
            <th>Book author</th>
            <th>Book title</th>
            <th>Delete action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book:${books}">
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td>
                <a th:href="@{/deleteBook/{id}(id=${book.id})}"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="js/navBarScript.js"></script>
</body>
</html>


