<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/navBarStyle.css">
    <link rel="stylesheet" type="text/css" href="css/articleStyle.css">
</head>

<body style="background-color: lightskyblue">
<div class="topnav" id="myTopnav">
    <div class="row activ">
        <div class="col-lg-3">
            <a th:href="@{/}" class="btn btn-primary btn-sm mb-3">Home</a>
        </div>
    </div>

    <div class="row active">
        <div class="col-lg-3">
            <a th:href="@{/viewBook}" class="btn btn-primary btn-sm mb-3">View Books</a>
        </div>
    </div>

    <div class="row active">
        <div class="col-lg-3">
            <a th:href="@{/addBook}" class="btn btn-primary btn-sm mb-3">Add book</a>
        </div>
    </div>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<div class="articleStyle">
    <article>
        <b>Pergamum, Anatolia</b>, now the modern Turkish town of Bergama, was one of the most important cities in the
        Hellenistic Greek age. It was culturally rich, with an extensive library at its heart.
        The city gained renown as an administrative center when it was ruled by King Eumenes II from the Attalid
        dynasty. It was under this king that Pergamum severed ties with Macedonia and made an alliance with the Roman
        Republic.
        The city boasted a population of over 200,000 citizens. Culturally, it rivaled both Alexandria and Antioch with
        its many works of art, including sculptures and advanced architecture such as the Great Altar of Pergamum.
        It was also an important religious center, being mentioned in the New Testament as one of the Seven Churches of
        Revelation. Around 133 BC, Pergamum was bequeathed to the Roman Republic, and in the Middle Ages it fell under
        the rule of the Ottoman empire.
        Pergamum’s library was the center for all things cultural. The Greek writer Plutarch said that it had
        approximately <i>200,000 volumes</i>. It came to be known as one of the most important libraries in the ancient
        world and was second only to the Library of Alexandria.
        If the library was destroyed by Julius Caesar, it supports the story that Mark Anthony gave the contents of the
        Library of Pergamum to Cleopatra to refill the once great Library of Alexandria. Unfortunately, there is no
        known catalog of the Library of Pergamum, which makes it impossible to know the true scope of the collection.
    </article>
</div>

<script src="js/navBarScript.js"></script>
</body>
</html>
